ul {
    list-style-type: none;
    margin: 20px;
    padding: 10px;
  } 
 nav{
    background-color: black;
    color: "#fff";
 }
  li{
    display: inline;
    text-decoration: none;
    text-align: center;
  }
 
  .nav{
    display: inline;
    float: right;
    
}
a {
    font-size: 14px;
    text-align: center;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    
  } 
  a:hover {
    background-color: rgb(189, 45, 45);

  }
 