.App{
    background-image: url(https://st2.depositphotos.com/3213441/12022/v/600/depositphotos_120226584-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg);
}
.card{
  text-align: center;
  float: left;
  width: 300px;
  height: 200px;
  margin: 40px;
  padding: 20px;
  border: black 2px solid;
  
}



.card-head{
    width: 200px;
    padding: 10px;

}
.card-body{
    width: 300px;

}
.fotos{
    width:200px;

}
.card-footer{
    width: 300px;

}
.boton{
    border-radius: 20%;
    border-color: red;
    width: 100px;
    text-align: center;
}